<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vue.example.backend.Mapper.Likemapper">

    <!-- 좋아요 추가 -->
    <insert id="insertLike" parameterType="java.util.HashMap">
        INSERT INTO instagram_post_like (post_id, user_id)
        VALUES (#{post_id}, #{user_id})
    </insert>

    <!-- 좋아요 삭제 -->
    <delete id="deleteLike" parameterType="java.util.HashMap">
        DELETE FROM instagram_post_like
        WHERE post_id = #{post_id}
        AND user_id = #{user_id}
    </delete>

    <!-- 좋아요 여부 확인 -->
    <select id="isLiked" parameterType="java.util.HashMap" resultType="int">
        SELECT COUNT(*)
        FROM instagram_post_like
        WHERE post_id = #{post_id} AND user_id = #{user_id}
    </select>

    <!-- 특정 게시물의 좋아요 수 조회 -->
    <select id="getLikeCount" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM instagram_post_like
        WHERE post_id = #{post_id}
    </select>

</mapper>
